.rocket{
    animation: rocket-stay-move;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes rocket-stay-move{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}

.cody{
    animation: cody-stay-move 3s ease-in-out infinite, 
               bring-cody-back 5s ease-in-out forwards;
}
@keyframes cody-stay-move{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes bring-cody-back{
    0%{
        left: -15%;
    }
    100%{
        left: 13%;
    }
}

body{
    animation: body-background-move 6s ease-in-out forwards;
}

@keyframes body-background-move{
    0%{
        background-position: 0px 5px;
    }
    100%{
        background-position: -8000px 5px;
    }
}

