/* Setting the elements on the page to apply animations */
body{
    background-image: url(../images/5603526_1876.jpg);
    background-repeat: repeat-x ;
}
.rocket-element{
    height: 240px;
    position: absolute;
    top: 300px;
    left: 300px;
    transform: rotateZ(45deg);
}
.cody{
    height: 150px;
    position: absolute;
    top: 320px;
    right: 100px;
}